/* Coolors Exported Palette - coolors.co/0e0e0e-ffffff-0900ff-8000ff-006aff */

/* HSL */
$color1: hsla(0%, 0%, 5%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(242%, 100%, 50%, 1);
$color4: hsla(270%, 100%, 50%, 1);
$color5: hsla(215%, 100%, 50%, 1);

/* RGB */
$color1: rgba(14, 14, 14, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(9, 0, 255, 1);
$color4: rgba(128, 0, 255, 1);
$color5: rgba(0, 106, 255, 1);