.aezlo-metro-light-green{
 color: #fff;
 background-color: #99b433;
}

.aezlo-metro-green{
 color: #fff;
 background-color: #00a300;
}

.aezlo-metro-dark-green{
 color: #fff;
 background-color: #1e7145;
}

.aezlo-metro-magenta{
 color: #fff;
 background-color: #ff0097;
}

.aezlo-metro-light-purple{
 color: #fff;
 background-color: #9f00a7;
}

.aezlo-metro-purple{
 color: #fff;
 background-color: #7e3878;
}

.aezlo-metro-dark-purple{
 color: #fff;
 background-color: #603cba;
}

.aezlo-metro-darken{
 color: #fff;
 background-color: #1d1d1d;
}

.aezlo-metro-teal{
 color: #fff;
 background-color: #00aba9;
}

.aezlo-metro-light-blue{
color: #000;
background-color: #eff4ff;
}

.aezlo-metro-blue{
 color: #fff;
 background-color: #2d89ef;
}

.aezlo-metro-dark-blue{
 color: #fff;
 background-color: #2b5797;
}

.aezlo-metro-yellow {
 color: #fff;
 background-color: #ffc40d;
}

.aezlo-metro-orange {
 color: #fff;
 background-color: #e3a21a;
}

.aezlo-metro-dark-orange {
 color: #fff;
 background-color: #da532c;
}

.aezlo-metro-red {
 color : #fff;
 background-color: #ee1111;
}

.aezlo-metro-dark-red{
 color: #fff;
 background-color: #b91d47;
}
